HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### 사용자 설정
.env
.env.*
!.env.example

# Repomix Output
repomix-output.xml
repomix-output.txt
repomix-output.json
repomix.config.json
repomix.*
repomix-*

# logs
logs/

# git
*.diff

### Local Testing & Infrastructure ###
# 로컬 전용 설정 파일 무시
**/application-local.yml
**/application-local.properties

# 로컬 테스트용 도커 컴포즈 무시
**/docker-compose-infra.yml
**/*.sh

# 로컬 모니터링 설정 폴더 무시
**/monitoring/

# Antigravity CLI Config
.antigravitycli/
