spring:
  application:
    name: slice-stream-engine

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

url:
  base-url: https://api.chzzk.naver.com
  live-fetch: /service/v1/lives
